<ActionBar title="Contact Us" class="action-bar">
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
	<ScrollView tkDrawerContent class="sidedrawer-left">
		<StackLayout horizontalAlign="left">
			<drawer-content></drawer-content>
		</StackLayout>
	</ScrollView>
	<StackLayout tkMainContent class="page">
			<StackLayout class="p-10 m-5 border">
				<label class="h2" text="Contact Information"></label>
				<label class="body" text="121, Clear Water Bay Road"></label>
				<label class="body" text="Clear Water Bay, Kowloon"></label>
				<label class="body" text="HONG KONG"></label>
				<label class="body" text="Tel: +852 1234 5678"></label>
				<label class="body" text="Fax: +852 8765 4321"></label>
				<label class="body" text="Email:confusion@food.net"></label>
			</StackLayout>
	</StackLayout>
</RadSideDrawer>